* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

.hide {
  display: none;
}

.visible {
  display: inline-block;
}

header {
  padding: 2em;
  background-color: aqua;
  width: 100%;
  position: relative;
  top: 0;
}

#viewScore {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
  left: 10px;
}

#timer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
  right: 10px;
}

.quizBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  text-align: center;
  background-color: aqua;
  height: 60vh;
  padding: 2em;
  border: 2px black solid;
  /* adds scrolling if text overflows */
  overflow: auto;
  margin: 0 auto;
  margin-top: 2.5em;
}

#question {
  font-weight: bold;
  font-size: 2em;
  max-width: 100%;
  margin-bottom: 1em;
}

button {
  background-color: black;
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin: 0.5em;
  font-size: 1.5em;
}

button:hover {
  color: aqua;
}

#summaryTitle,
#scoreBox,
#initials,
#submit {
  font-size: 1.5em;
  max-width: 100%;
  margin-bottom: 1em;
}

footer {
  background-color: aqua;
  padding: 1em;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}
